<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнє завдання № 1 (демо).<br> Аналіз даних доходів населення UCI Adult</center>

**В завданні пропонується за допомогою Pandas дати відповідь на кілька запитань по даним репозиторія UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult).**

Унікальні значення ознак:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Скільки чоловіків и жінок (ознака *sex*) представлено в цьому наборі даних?**

In [4]:
# Ваш код тут
data['sex'].value_counts(normalize=False)
# Жінок: 10771, Чоловіків: 21790

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Який середній вік (ознака *age*) жінок?**

In [15]:
avg_female_age = data[(data['sex'] == 'Female')]['age'].mean()
print(f"Середній вік жінок: {avg_female_age:.2f}")

Середній вік жінок: 36.86

**3. Яка доля громадян Німеччини (ознака *native-country*)?**

In [16]:
# Підрахунок загальної кількості рядків
total_count = len(data)

# Підрахунок кількості рядків, де native-country == 'Germany'
germany_count = len(data[data['native-country'] == 'Germany'])

# Обчислення частки громадян Німеччини
germany_share = germany_count / total_count

print(f"Частка громадян Німеччини: {germany_share:.2%}")

Частка громадян Німеччини: 0.42%

**4-5. Які средні значення та средньоквадратичні відхилення віку тих, хто отримує більше 50K на рік (ознака *salary*) і тих, хто отримує менше 50K на рік?**

In [17]:
more_than_50k = data[data['salary'] == '>50K']
less_than_50k = data[data['salary'] == '<=50K']

# Обчислення середнього значення для кожної групи
mean_age_more_than_50k = more_than_50k['age'].mean()
mean_age_less_than_50k = less_than_50k['age'].mean()

# Обчислення середньоквадратичного відхилення для кожної групи
rmse_age_more_than_50k = (more_than_50k['age']**2).mean()**0.5
rmse_age_less_than_50k = (less_than_50k['age']**2).mean()**0.5

print(f"Середній вік тих, хто отримує більше 50K: {mean_age_more_than_50k:.2f}, середньоквадратичне відхилення: {rmse_age_more_than_50k:.2f}")
print(f"Середній вік тих, хто отримує менше 50K: {mean_age_less_than_50k:.2f}, середньоквадратичне відхилення: {rmse_age_less_than_50k:.2f}")

Середній вік тих, хто отримує більше 50K: 44.25, середньоквадратичне відхилення: 45.48
Середній вік тих, хто отримує менше 50K: 36.78, середньоквадратичне відхилення: 39.36

**6. Чи правда, що люди, які отримують більше 50k, мають як мінімум вищу освіту? (ознака *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [18]:
# Фільтруємо дані для тих, хто отримує більше 50K
more_than_50k = data[data['salary'] == '>50K']
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

# Перевіряємо, чи всі значення в колонці 'education' належать до списку higher_education
all_higher_educated = more_than_50k['education'].isin(higher_education).all()

if all_higher_educated:
    print("Так, всі люди, які отримують більше 50K, мають як мінімум вищу освіту.")
else:
    print("Ні, не всі люди, які отримують більше 50K, мають як мінімум вищу освіту.")

Ні, не всі люди, які отримують більше 50K, мають як мінімум вищу освіту.

**7. Порахуйте статистику віку для кожної раси (ознака *race*) і кожної статі. Використайте *groupby* и *describe*. Знайдіть таким сином максимальний вік чоловіків раси *Amer-Indian-Eskimo*.**

In [19]:
# Групування за 'race' та 'sex', опис статистики 'age'
age_stats = data.groupby(['race', 'sex'])['age'].describe()

# Виведення статистики
print(age_stats)

# Знаходження максимального віку чоловіків раси 'Amer-Indian-Eskimo'
max_age_amer_indian_eskimo_men = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]['age'].max()

print(f"Максимальний вік чоловіків раси 'Amer-Indian-Eskimo': {max_age_amer_indian_eskimo_men}")

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
Максимальний вік чоловіків раси 'Amer-Indian-Eskimo': 82

**8. Серед кого більша доля багатіших (>50K): серед одружених чи не одружених чоловіків (ознака *marital-status*)? За одружених вважаємо тих, у кого *marital-status* починається із *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), всі інші - не одружені.**

In [22]:
# Фільтруємо дані для чоловіків
men_data = data[data['sex'] == 'Male'].copy()

# Додаємо колонку для визначення одруженості
men_data.loc[:, 'married'] = men_data['marital-status'].apply(lambda x: 'Married' if x.startswith('Married') else 'Not Married')

# Обчислюємо частку багатших (>50K) для кожної групи
rich_married = men_data[(men_data['married'] == 'Married') & (men_data['salary'] == '>50K')]
rich_not_married = men_data[(men_data['married'] == 'Not Married') & (men_data['salary'] == '>50K')]

total_married = men_data[men_data['married'] == 'Married']
total_not_married = men_data[men_data['married'] == 'Not Married']

rich_married_share = len(rich_married) / len(total_married)
rich_not_married_share = len(rich_not_married) / len(total_not_married)

print(f"Частка багатших серед одружених чоловіків: {rich_married_share:.2%}")
print(f"Частка багатших серед не одружених чоловіків: {rich_not_married_share:.2%}")

Частка багатших серед одружених чоловіків: 44.05%
Частка багатших серед не одружених чоловіків: 8.45%

**9. Яку максимальну кількість годин в тиждень працює людина (ознака *hours-per-week*)? Скільки людей працюють таку кількість годин і який відсоток серед них багатих?**

In [42]:
# Знайти максимальну кількість годин на тиждень
max_hours = data['hours-per-week'].max()

# Фільтруємо дані за максимальними годинами
max_hours_df = data[data['hours-per-week'] == max_hours]

# Кількість людей, що працюють максимальну кількість годин на тиждень
count_max_hours = max_hours_df.shape[0]

# max_hours_df[max_hours_df['salary'] == '>50K'].sum()

# Відсоток багатих людей серед тих, що працюють максимальну кількість годин
percent_rich_max_hours = len(max_hours_df[data['salary'] == '>50K']) / count_max_hours

# print(f"Максимальна кількість годин на тиждень: {max_hours}")
# print(f"Кількість людей, що працюють {max_hours} годин на тиждень: {count_max_hours}")
# print(f"Відсоток багатих серед них: {percent_rich_max_hours:.2f}%")

C:\Users\Denis\AppData\Local\Temp\ipykernel_9632\1689257105.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  percent_rich_max_hours = len(max_hours_df[data['salary'] == '>50K']) / count_max_hours

**10. Порахуйте середню тривалість роботи на тиждень (*hours-per-week*) серед багатих і бідних (*salary*) для кожної країни (*native-country*).**

In [ ]:
# Ваш код тут